---
import BlogPost from '../../layouts/BlogPost.astro';
---

<BlogPost
    title="Komodo-7B"
    date="January 15, 2025"
    readingTime="35 min"
    author="Vishesh Tripathi"
>
    <p>Your blog content here...</p>
    <!-- Add more content, images, code blocks etc. -->
</BlogPost>