---
import BlogPost from '../../layouts/BlogPost.astro';
---

<BlogPost
    title="Shifting to Mumbai from Delhi"
    date="January 15, 2024"
    readingTime="10 min"
    author="Vishesh Tripathi"
>
    <img src="/images/DELHI-vs-MUMBAI-min-1.jpg" alt="ML Journey" />
    <p>It's been 14 days since I moved from Delhi to Mumbai.</p>
    <br>
    <h2>Pros</h2>
    <br>
    <ul>
        <li><strong>Clean Air:</strong> A refreshing change compared to Delhi, specially if you compare AQI 🥲</li>
        <li><strong>Stable Weather:</strong> The climate is constant and predictable.</li>
        <li><strong>Tourist Spots:</strong> Plenty of nearby places to visit, like Lonavala.</li>
        <li><strong>Coastal Views:</strong> Being near the seashore offers some amazing views.</li>
        <li><strong>Great Food:</strong> Both Delhi and Mumbai are known for their delicious cuisines.</li>
    </ul>
    <br>
    <h2>Cons</h2>
    <br>
    <ul>
        <li><strong>Humidity:</strong> The weather can feel uncomfortably humid at times.</li>
        <li><strong>Metro Connectivity:</strong> Compared to Delhi, Mumbai's metro system is less extensive, so traffic can be a challenge.</li>
    </ul>
    <br>
    <h2>Overall Experience</h2>
    <br>
    <p>Both cities are Tier-1, so you don't face major issues like a lack of services or facilities.</p>
    <br>
    <p>Unfortunately, I haven't had much opportunity to explore Mumbai due to my working hours (1 PM to 1 AM). Sundays are usually reserved for rest.</p>
    <br>
    <p>Still, I managed to visit Amar Juice Centre, famous for its Pav Bhaji. I also made a quick trip to Lonavala (my third visit overall) to meet a friend, traveling to and from in a single day.</p>
</BlogPost>
